* {
  font-family: "Noto Serif Georgian", serif;
  /* font-size: 98%; */
}

#wrapper {
  position: static;
  /* display: flex; */
  justify-content: center;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}

.header {
  padding: 1px;
  text-align: center;
  background: #788f58;
  color: white;
  font-size: 30px;
  margin: 30px;
}

.section-content {
  white-space: normal !important;
}

.div-left {
  width: 50%;
  /* border-right: 2.5px solid #788f58; */
  float: left;
  align-items: flex-end;
  /* text-align: right; */
  /* border: 1px solid red; */
}

.div-right {
  /* border: 1px solid blue; */
  width: 50%;
  overflow: hidden;
  float: left;
  /* border-left: 1px solid #788f58; */
}

.div-left section div {
  text-align: right;
  align-items: right;
  margin-right: 7%;
}

.div-right section div {
  text-align: left;
  align-items: left;
  /* margin-left: 35%; */
}

.timeline-area-left {
  /* margin-right: 7%;  */
  border-right: 1.5px solid #788f58;
  /* padding: 0 20px 0 30px; */
}

.timeline-area-right {
  /* border-left:1px solid #788f58; */
  /* position: relative; */
}

.timeline-area-left div {
  /* padding: 10px; */
  font-size: 16px;
  line-height: 1.3;
  position: relative;
  /* height: 80px; */
  margin-bottom: 20px;
  margin-top: 2%;
}

.timeline-area-right div {
  font-size: 16px;
  line-height: 1.3;
  position: relative;
  /* height: 80px; */
  margin-bottom: 20px;
  margin-top: 2%;
  margin-left: 9%;
  /* opacity:0.8; */
}

.timeline-area-left div:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  border-radius: 50%;
  background-color: #788f58;
  position: absolute;
  top: 10%;
  left: 102.2%;
}

.timeline-area-left div:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #788f58;
  position: absolute;
  top: 7%;
  left: 106.6%;
}

.timeline-area-right div:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  border-radius: 50%;
  background-color: #788f58;
  /* border: #788f58; */
  position: absolute;
  top: 9.5%;
  right: 103.6%;
}

.timeline-area-right div:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #788f58;
  /* border: #788f58; */
  position: absolute;
  top: 4%;
  right: 107.6%;
}

.stack-top {
  z-index: 9;
  margin-left: -7px;
}

li {
  list-style-type: square !important;
}

#p-margin-fix {
  text-align: right;
  margin-left: 80px;
}

@media screen and (max-width: 917px) and (min-width: 910px) {
  /* #p-margin-fix {
    padding-bottom: 200px !important;
  } */
}

@media screen and (max-width: 1136px) and (min-width: 1058px) {
  .timeline-area-right div:before {
    right: 107.5%;
  }
}

@media screen and (max-width: 1057px) and (min-width: 1010px) {
  .timeline-area-right div:before {
    right: 107.4%;
  }
}

@media screen and (max-width: 1009px) and (min-width: 970px) {
  .timeline-area-right div:before {
    right: 107.3%;
  }
}

@media screen and (max-width: 969px) and (min-width: 929px) {
  .timeline-area-right div:before {
    right: 107.2%;
  }
}

@media screen and (max-width: 928px) and (min-width: 919px) {
  .timeline-area-right div:before {
    right: 100.2%;
  }
}

@media screen and (max-width: 918px) {
  .timeline-area-right div:before {
    display: none;
  }
  .timeline-area-right div:after {
    display: none;
  }

  .timeline-area-left div:before {
    display: none;
  }
  .timeline-area-left div:after {
    display: none;
  }

  .timeline-area-left::after {
    border-right: none;
    justify-content: center;
    text-align: center;
  }

  .timeline-area-left {
    /* margin-right: 7%;  */
    border-right: none;
    /* padding: 0 20px 0 30px; */
  }

  .div-left {
    width: 100%;
    align-self: center !important;
    text-align: center;
    /* margin-left: -37%;
    padding-left: 30%; */
    /* margin-right: 150%; */
  }

  .div-right {
    width: 89%;
    text-align: center;
    align-self: center !important;
    padding-right: -20%;
  }

  .section-content {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
  }
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
  }

  ul li {
    text-align: center;
  }

  #p-margin-fix {
    text-align: center;
    margin-left: none;
  }

  .before-my-exp-list {
    text-align: center;
  }
  .my-exp-list {
    position: relative;
    left: 40%;
  }

  span {
    position: relative;
    /* left: -230px; */
    left: -45%;
  }
}

@media screen and (max-width: 891px) and (min-width: 802px) {
  span {
    left: -43%;
  }
}

@media screen and (max-width: 801px) and (min-width: 756px) {
  span {
    left: -45%;
  }
}

@media screen and (max-width: 755px) and (min-width: 706px) {
  span {
    left: -44%;
  }
}

@media screen and (max-width: 705px) and (min-width: 656px) {
  span {
    left: -44%;
  }
}

@media screen and (max-width: 655px) and (min-width: 606px) {
  span {
    left: -43%;
  }
}
@media screen and (max-width: 605px) and (min-width: 556px) {
  span {
    left: -42%;
  }
}
@media screen and (max-width: 555px) and (min-width: 506px) {
  span {
    left: -42%;
  }
}
@media screen and (max-width: 505px) and (min-width: 456px) {
  span {
    left: -42%;
  }
}
@media screen and (max-width: 455px) and (min-width: 406px) {
  span {
    left: -42%;
  }
}
@media screen and (max-width: 405px) and (min-width: 356px) {
  span {
    left: -42%;
  }
}

@media screen and (max-width: 355px) and (min-width: 306px) {
  span {
    left: -42%;
  }
}

@media screen and (max-width: 305px) {
  span {
    left: -42%;
  }
}

/* @media screen and (max-width: 917px) {
  #p-margin-fix {
    padding-bottom: 100%;
  }
} min 1058 max 1136*/
